<div class="flex flex-column">
  <span class="text-lg mb-4 text-center">Sign In</span>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput placeholder="Nombre ">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Usuario">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input type="password" matInput placeholder="Contraseña">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    Crear Cuenta
    <mat-icon>person_add</mat-icon>
  </button>
  <div class="relative mt-4">
    <a class="absolute right-0" routerLink="/auth/login">¿Ya tienes cuenta?</a>
  </div>
</div>
